doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
	 ul#books
	   li
	     a(href="#book-a") Book A
	   li
	     a(href="#book-b") Book B